<div class="row">
  <div class="col">
    <div class="card text-white bg-dark my-3">
      <div class="card-body">
        <h5 class="card-title">Ort</h5>
        <p class="card-text">{{name}}</p>
      </div>
    </div>
  </div>
  <div class="col">
     <div class="card text-white bg-dark my-3">
      <div class="card-body">
        <h5 class="card-title">Wettercode</h5>
        <p class="card-text">{{latestReading.weather_code}}</p>
      </div>
    </div>
  </div>
  <div class="col">
     <div class="card text-white bg-dark my-3">
      <div class="card-body">
        <h5 class="card-title">Temperatur</h5>
        <p class="card-text">{{latestReading.temperature}}</p>
      </div>
    </div>
  </div>
  <div class="col">
     <div class="card text-white bg-dark my-3">
      <div class="card-body">
        <h5 class="card-title">Wind</h5>
        <p class="card-text">{{latestReading.wind_speed}}</p>
      </div>
    </div>
  </div>
  <div class="col">
     <div class="card text-white bg-dark my-3">
      <div class="card-body">
        <h5 class="card-title">Luftdruck</h5>
        <p class="card-text">{{latestReading.air_pressure}}</p>
      </div>
    </div>
  </div> 
</div>
