<div class="row mb-3 border">
  <div class="col">
    <div class="card text-white bg-dark my-3">
      <div class="card-body">
        <h5 class="card-title">Ort</h5>
        <p class="card-text">{{name}}</p>
      </div>
    </div>
  </div>
  <div class="col">
     <div class="card text-white bg-dark my-3">
      <div class="card-body">
        <h5 class="card-title">Wettercode</h5>
        <p class="card-text">{{weather_code}}</p>
      </div>
    </div>
  </div>
  <div class="col">
     <div class="card text-white bg-dark my-3">
      <div class="card-body">
        <h5 class="card-title">Temperatur</h5>
        <p class="card-text">{{temperature}}</p>
      </div>
    </div>
  </div>
  <div class="col">
     <div class="card text-white bg-dark my-3">
      <div class="card-body">
        <h5 class="card-title">Wind</h5>
        <p class="card-text">{{wind_speed}}</p>
      </div>
    </div>
  </div>
  <div class="col">
     <div class="card text-white bg-dark my-3">
      <div class="card-body">
        <h5 class="card-title">Luftdruck</h5>
        <p class="card-text">{{air_pressure}}</p>
      </div>
    </div>
  </div>
</div>
