<div class="row">
  <div class="col">
    <div class="card text-white bg-dark my-3" style="height: 150px; display: flex; flex-direction: column;">
      <div class="card-body">
        <h5 class="card-title" style="line-height: 2; font-weight: bold;">{{stationValues.name}}</h5>
        <p class="card-text" style="line-height: 0.5;">Lat: {{stationValues.latitude}}</p>
        <p class="card-text" style="line-height: 0.5;">Lon: {{stationValues.longitude}}</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-white bg-dark my-3" style="height: 150px; display: flex; flex-direction: column;">
      <div class="card-body">
        <h5 class="card-title" style="line-height: 2; font-weight: bold;">Wettercode</h5>
        <p class="card-text" style="line-height: 0.5">{{stationValues.latestReading.condition}}</p>
        <i class="{{stationValues.latestReading.iconFilename}} icon-right-top text-white"></i>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-white bg-dark my-3" style="height: 150px; display: flex; flex-direction: column;">
      <div class="card-body">
        <h5 class="card-title" style="line-height: 2; font-weight: bold;">Temperature</h5>
        <p class="card-text style="line-height: 0.5"">{{stationValues.latestReading.temperature}}</p>
        <i class="bi bi-thermometer-half icon-right-top text-white"></i>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-white bg-dark my-3" style="height: 150px; display: flex; flex-direction: column;">
      <div class="card-body">
        <h5 class="card-title" style="line-height: 2; font-weight: bold;">Wind</h5>
        <p class="card-text" style="line-height: 0.5">Speed: {{stationValues.latestReading.wind_speed}}</p>
        <p class="card-text" style="line-height: 0.5">Direction: {{stationValues.latestReading.windDirection}}</p>
        <i class="bi bi-wind icon-right-top text-white"></i>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-white bg-dark my-3" style="height: 150px; display: flex; flex-direction: column;">
      <div class="card-body">
        <h5 class="card-title" style="line-height: 2; font-weight: bold;">Luftdruck</h5>
        <p class="card-text" style="line-height: 0.5">{{stationValues.latestReading.air_pressure}}</p>
        <i class="bi bi-speedometer icon-right-top text-white"></i>
      </div>
    </div>
  </div>
</div>
